.conteinerTrajetoria {
  width: 100vh;
  display: flex;
  justify-content: center;
  margin: 3rem auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 8rem;
  gap: 150px;
  /* padding: 20px 10px; */
}

.capsulaTrajetoria {
  display: flex;
  justify-content: center;
}


.esquerda {
  display: flex;
  flex-direction: column;
}


@media (max-width: 1300px){
.conteinerTrajetoria{
  flex-direction: column;
  align-items: center;
}
.conteinerTrajetoria h1 {
  font-size: 60px;
}
}
@media (max-width: 950px){
.conteinerTrajetoria {
  width: fit-content;
}
}