.conteinerTrajetoria {
  margin: 106px 120px;
}

.trajetoriaCard {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 25px;
  justify-content: space-between;
}

.titulo {
  font-size: 32px;
  color: var(--verde);
  margin-bottom: 40px;
}

@media (max-width: 1520px) {
  .conteinerTrajetoria {
    margin: 106px 100px;
  }
  .trajetoriaCard {
    grid-template-columns: repeat(auto-fill, 280px);
  }
}
@media (max-width: 1400px) {
  .conteinerTrajetoria {
    margin: 106px 90px;
  }
}
@media (max-width: 764px) {
  .trajetoriaCard {
    grid-template-columns: repeat(auto-fill, 260px);
  }
  .conteinerTrajetoria {
    margin: 70px 50px;
  }
}
@media (max-width: 644px) {

  .conteinerTrajetoria {
    margin: 50px 20px;
  }
}
@media (max-width: 584px) {
  .trajetoriaCard {
    grid-template-columns: repeat(auto-fill, 240px);
  }

}
@media (max-width: 584px) {
  .trajetoriaCard {
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
  }

}
@media (max-width: 310px) {
  .trajetoriaCard {
    grid-template-columns: repeat(auto-fill, 260px);
  }
  .conteinerTrajetoria{
    margin: 30px 10px;
  }
  .titulo {
    font-size: 30px;
  }

}
