.conteinerTrajetoria {
  width: 100vh;
  justify-content: center;
  margin: 3rem auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 8rem;
  align-items: center;
}

.formato {
  display: flex;
  justify-content: center;
}

.capsulaTrajetoria span {
  align-items: flex-start;
  width: fit-content;
}

.conteinerTrajetoria h2 {
  font-size: 50px;
  color: var(--verde);
}


.conteinerTrajetoria h2 {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

@media (max-width: 500px){
    .conteinerTrajetoria h2 {
        font-size: 40px;
    }
    .timeLine {
      width: 52px;
      height: 880px;
    }
    
}
@media (max-width: 425px){
    .conteinerTrajetoria h2 {
        font-size: 30px;
    }
    .timeLine {
        width: 50px;
        height: 800px;
    }
}
@media (max-width: 376px){
    .conteinerTrajetoria h2 {
        font-size: 30px;
    }
    .timeLine {
        display: none;
    }
    
}
