

.titulo h3 {
  color: var(--verde);
  margin-bottom: 26px;
  margin-top: 16px;
}

.icones {
  display: flex;
  flex-wrap: wrap;
}

.icones svg {
  width: 30px;
  height: 30px;
  margin: 0 8px 8px 0;
  
}
