.carrossel {
  width: 100%;
  padding: 40px 0px;
  background: linear-gradient(45deg, #101010, #1f1f1f);
}

.card {
  display: flex;
  justify-content: center; 
  padding: 20px;
  margin: 0px 20px;
}

.carrossel h2 {
  font-size: 32px;
  gap: 8px;
  display: flex;
  align-items: center;
  color: var(--verde);
  margin-bottom: 26px;
  padding: 0px 50px;
}

.swiper button {
  color: var(--verde); /* Cor do texto (opcional) */
}

@media (max-width: 400px){
  .card{
    margin: 10px 10px;
    padding: 10px;
  }
}