.card {
  width: fit-content;
}

.card h3 {
  font-size: 28px;
  color: var(--verde);
}

.card h4 {
  font-size: 24px;
}
.card ul {
  list-style: none;
}

.descricaoCard {
  margin-bottom: 10px;
}

.descricao {
  color: var(--cinza);
  font-size: 16px;
  line-height: normal;
  margin:  18px 0px 0px 0px;
}
.botao {
  display: flex;
  justify-content: flex-end;
}
.certificado {
  display: flex;
  width: 86px;
  height: 26px;
  color: var(--branco);
  border: solid 1px var(--branco);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  margin-top: 4px;
}

@media (max-width: 764px) {
  .card h4 {
    font-size: 22px;
  }
}
@media (max-width: 584px) {
  .card h4 {
    font-size: 21.5px;
  }
}


